<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>25_收集表单数据</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        收集表单数据：
            若:<input type="text"/> 则v-model收集的是value值，用户输入的就是value值
            若:<input type="radio"/> 则v-model收集的是value值，且要给标签配置value值
            若:<input type="checkbox"/> 
                1.没有配置input的value属性，那么收集的就是checked(勾选 or 未勾选，是布尔值)
                2.配置input的value属性:
                    一.v-model的初始值是非数组，那么收集的就是checked(勾选 or 未勾选,是布尔值)
                    二.v-model的初始值是数组，那么收集的就是value组成的数组
            备注:
                v-model的三个修饰符:
                    lazy：失去焦点再收集数据
                    number:输入字符串转为有效的数字
                    trim:输入首位空行过滤
     -->
    <div id="root">
        <form @submit.prevent="demo">
            <div>账号: <input type="text" v-model.trim="userInfo.account"></div>
            <div>密码: <input type="password" v-model="userInfo.password"></div>
            <div>性别:
                <input type="radio" name="sex" v-model="userInfo.sex" value="male">男
                <input type="radio" name="sex" v-model="userInfo.sex" value="female">女
            </div>
            <div>年龄:
                <input type="number" v-model.number="userInfo.age">
            </div>
            <div>爱好:
                <input type="checkbox" name="hobby" v-model="userInfo.hobby" value="ppq">乒乓球
                <input type="checkbox" name="hobby" v-model="userInfo.hobby" value="ymq">羽毛球
                <input type="checkbox" name="hobby" v-model="userInfo.hobby" value="zq">足球
            </div>
            <div>所属校区
                <select v-model="userInfo.schoolName">
                    <option value="请选择校区">请选择校区</option>
                    <option value="beijing">北大</option>
                    <option value="sichuan">川大</option>
                </select>
            </div>
            <div>其他信息:
                <textarea v-model.lazy="userInfo.other"></textarea>
            </div>
            <div>
                <input type="checkbox" v-model="userInfo.agree">阅读并接受 <a href="#">《用户协议》</a>
            </div>
            <div><button>提交</button></div>
        </form>
    </div>
    <script>
        new Vue({
            el: "#root",
            data: {
                userInfo:{
                    account: "",
                    password: "",
                    sex: "",
                    age: "",
                    hobby: [],
                    schoolName: "beijing",
                    other: "",
                    agree: ""
                }
            },
            methods: {
                demo(){
                    console.log(JSON.stringify(this.userInfo));
                }
            },
        })
    </script>
</body>

</html>